<!-- blog.html -->

{% block content %}
    <div style="max-width: 800px; margin: auto;">
        <h1 style="color: #333;">{{ post.title }}</h1>
        <small style="color: #888;">By: {{ post.author }}</small>
        <hr style="border-color: #ddd;">
        <br>
        {{ post.body }}
        <br>
        <button onclick="location.href='{% url 'myapp:blog' %}'" style="padding: 10px 15px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">BACK</button>
    </div>
{% endblock %}
